.Sidebar
  .Sidebar-user
    .Sidebar-lists
      %h3.Sidebar-lists__user Maiki
    .icons
      .icons__edit= icon("fas","edit")
      .icons__cog= icon("fas","cog")
  .Sidebar-group
    .Group
      .Group-name
        テスト
      .Group-message
        まだメッセージはありません。